body{
    background-color: #444444;
}

h1{
    color: white;
}

h5{
    width: 100%;
    /*border-bottom: 1px solid black;*/
    /*align*/
    /*background-color: pink;*/
    color: white;
}

i{
    margin-left: 5px;
}

.container{
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.controls{
    width: 75%;
    margin-left: 13.5%;
    margin-bottom: 20px;
}

.row{
    /*border: 2px solid white;*/
    text-align: center;
}

.row label{
    text-align: left;
    width: 100%;
    margin-left: 13.5%;
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
}

.btn{
    background-color: #17d6b3;
    border: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover{
    background-color: #09B39E;
    border: none;
}

.btn-primary:disabled{
    background-color: #17d6b3;
    border: none;
}

.legend {
    line-height: 20px;
    color: #fff;
    width: 500px;
}

.legend span, .legend label {
    display: block;
    width: 50px;
    height: 18px;
    float: left;
    opacity: 0.7;
    text-align: center;
    font-size: 80%;
    margin-bottom: 0;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
    margin-bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#exponent, #cellSize{
    width: 75%;
    margin-left: 13.5%;
}



#interpolate{
    margin-top: 10px;
}


#results{
    width: 75%;
    margin-left: 13.5%;
    text-align: center;
}

#results p{
    width: 100%;
    color: white;
}

#errorTitle{
    margin-top: 10px;
}

#calculate, #errorButton{
    margin-top: 10px;
}


#panel{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 3em;
}

#\ panelBackground{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /*margin-top: 3em;*/
    background-color: white;
    opacity: 0.15;
}

#map{
    /*float: right;*/
    /*width: 75%;*/
    /*height: 100%;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#title{
    display: inline;
    color: white;
    text-align: center;
}

#titleText{
    margin-top: 10px;
    margin-bottom: 40px;
}

.popup{
    margin: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 115%;
    /*margin-left: -80px;*/
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: -5px;
    border: 5px solid #555;

}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

